<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>New Message Notification</title>
</head>
<body>
<h2>Hello {{name}}! </h2>
    <p>You have received a new message at {{domain}}. </p>
    <p></p>
</body>
</html>
