<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Recovery Email</title>
</head>
<body>
<h2>User Recovery Email</h2>
    <p>User password recovery was initiated at {{domain}} for your user. </p>
    <p>If this was not initiated by you, please <b>ignore this email</b>! No further action is needed!</p>
    <p></p>
    <p>Please click on the following link to recover password: <a href="{{recoverPasswordLink}}" target="_blank">Recover Password</a></p>
    <p></p>
    <p>Your team at {{helpEmail}}</p>
</body>
</html>
