<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Recovery Email</title>
</head>
<body>
<h2>User Recovery Email </h2>
    <p>User password recovery was initiated at {{domain}} for your user. </p>
    <p>If this was not initiated by you, please <b>ignore this email</b>! No further action is needed!</p>
    <p></p>
    <p>If this process was initiated by you, a new temporary password was generated: <b>{{generatedPassword}}</b> </p>
    <p>The recovery process is simple, just <b>click bellow</b> to activate new generate password, <b>login using new password</b> and go
        to <b>user settings</b> and <b>change password</b> to your liking.</p>
    <p></p>
    <p>Please click on the following link to activate above password: <a href="{{activatePassword}}" target="_blank">Activate Password</a></p>
</body>
</html>
