<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Activated</title>
</head>
<body>
<h2>User account is now ACTIVE!</h2>
    <p>Your user was successfully activated at {{domain}}. </p>
    <p>You can now login at {{domain}}, please enter your login credentials to have full access to our community</p>
    <p></p>
    <p>If you have any questions about your account please email us at: {{helpEmail}} </p>
</body>
</html>
